.cms-content-tools {z-index:50;}
.cms-content-header-info  .icon-comments {cursor:pointer}
.cms-content-header-info .section-comments-wrap.hide{display:none;}
.cms-content-header-info .section-comments-wrap{position:relative;}
.cms-content-header-info .section-comments-content {
 background: none repeat scroll 0 0 #b0bec7;
    border: 2px solid #d0d3d5;
	background-image:linear-gradient(#b0bec7, #d4dbe0);
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    margin-left: -28px;
    margin-top: 7px;
    position: absolute;
    width: 200px;
	color: #444;
    z-index: 300;
	padding: 10px 15px;
}
.cms-content-header-info .section-comments-content .section-comments-comment {border-bottom: 1px solid #9eafba; padding-top: 5px;}
.cms-content-header-info .section-comments-content .section-comments-comment:last-child{border:none;}
.cms-content-header-info .section-comments-content .section-comments-comment p {margin:0px; padding:0px; line-height: 14px;}
.cms-content-header-info .section-comments-content .section-comments-comment p:nth-child(2){font-weight: bold; font-size: 11px;}
.cms-content-header-info .section-comments-content .section-comments-comment p span { font-style: italic; vertical-align: bottom; font-weight: normal}

.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right:-6px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.55em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}